    <!-- JS -->
    <script src="{{ site.url }}/assets/js/jquery-1.12.0.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.dlmenu.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.goup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.fitvid.min.js"></script>
    <script src="{{ site.url }}/assets/js/scripts.js"></script>
    <script id="dsq-count-scr" src="//joisadler-github-io.disqus.com/count.js" async></script>
    {% if site.google.analytics %}

<!-- google analytics -->
    <script src="https://cdn.jsdelivr.net/ga-lite/latest/ga-lite.min.js" async></script>
    <script>
    var galite = galite || {};
    galite.UA = 'UA-99322644-1'; // Insert your tracking code here
    </script>

    {% endif %}
    {% if page.comments != false %}
        {% include disqus_comments.html %}
    {% endif %}
