---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>
                  <!-- <h4><time datetime="{{page.date | html5date}}">{{page.date | russianDate}}</time></h4> -->

                  <h4>{% assign m = page.date | date: "%-m" %}
                      {% assign a = page.date | date: "%a" %}
                        {% case a %}
                          {% when 'Sun' %}Вс,
                          {% when 'Mon' %}Пн,
                          {% when 'Tue' %}Вт,
                          {% when 'Wed' %}Ср,
                          {% when 'Th' %}Чт,
                          {% when 'Fri' %}Пт,
                          {% when 'Sat' %}Сб,
                        {% endcase %}
                      {{ page.date | date: "%-d" }}
                      {% case m %}
                        {% when '1' %}Января
                        {% when '2' %}Февраля
                        {% when '3' %}Марта
                        {% when '4' %}Апреля
                        {% when '5' %}Мая
                        {% when '6' %}Июня
                        {% when '7' %}Июля
                        {% when '8' %}Августа
                        {% when '9' %}Сентября
                        {% when '10' %}Октября
                        {% when '11' %}Ноября
                        {% when '12' %}Декабря
                      {% endcase %}
                      {{ page.date | date: "%Y" }}
                  </h4>

                    {% if site.reading_time %}
                    <p class="reading-time">
                      <i class="fa fa-clock-o"></i>
                      {% include read-time.html %}
                    </p><!-- /.entry-reading-time -->
                    {% endif %}
                    {% if page.project %}
                    <a class="btn zoombtn" href="{{site.url}}/projects/">
                    {% else %}
                    <a class="btn zoombtn" href="{{site.url}}/posts/">
                    {% endif %}
                        <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                {{ content }}
                <div class="PageNavigation">
                  {% if page.previous.url %}
                    <a class="prev" href="{{page.previous.url}}"><i class="fa fa-angle-double-left" aria-hidden="true"></i> {{page.previous.title}}</a>
                  {% endif %}
                  {% if page.next.url %}
                      <a class="next" href="{{page.next.url}}">{{page.next.title}} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                  {% endif %}
                </div>
                <div class="entry-meta">
                {% include meta.html %}
                </div>
            </div>
        </div>
        {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
